.container {
    margin: 0 auto;
}

.spinner {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-top: 20px solid red;
    animation: spin 3s both;

}
@keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(1000deg);
    }
}