@media (max-width:1440px){
    .container {
        width: 738px;
    }
    .nav {
        display: flex ;
        justify-content: space-between;    
    }
    
    .test {
        display: none;
    }
    
    .showcase-monito {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .buttons {
        margin:0 auto;
    }
    
    .new-section{
        .new-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    #one-more {
        .one-more-friend {
            
            flex-direction: column-reverse;
            
            .rectangle9 {
                display: none;
            }
            .rectangle-9-4 {
                display: flex;
                position: absolute;
                top: 0;
                z-index: -1;
                left: 0;
                width: 90%;
            }
            
        }
    }
    
    
    #partners {
        display: none;;
    }
    
    
    #adoption {
        display: none;;
    }
    
    #new {
        .knowledge {
            .c2 {
                display: none;
            } 
        } 
    }
    
    #footers {
        .footer {
            .dark-blue-box {
                flex-direction: column; 
                h5 {
                    margin-bottom: 30px;
                }
                form {
                    width: 100%;
                }
            }
            
        }
        .foot-nav {
            flex-direction: column;
            gap:2rem;
            align-items:center;
        }
        .foot-end {
            flex-direction: column;
            gap:2rem;
            align-items:center; 
        }
    }
    
    
}



@media (max-width:680px){
    .container {
        width: 372px;
    }


    #footers {
        .footer {
            .dark-blue-box {
                
                form {
                    flex-direction: column;
                    justify-content: center;
                    input, button {
                        width: 100%;
                    }
                }
                
            }
            
            
        }       
        
        
        
    }
    
}
@media (max-width:414px){
    .container {
        width: 100%;
    }


    #footers {
        .footer {
            .dark-blue-box {
                
                form {
                    flex-direction: column;
                    justify-content: center;
                    input, button {
                        width: 100%;
                    }
                }
                
            }
            
            
        }       
        
        
        
    }
    
}